/* You can add global styles to this file, and also import other style files */
table {
  width: 100%;
}

td {
  text-align: center;
}

thead{
  font-weight: bold;
  font-size: 1.2em;
  background-color:lightgray;
  color: black;
}

#results{
  margin:auto;
  width:90%;
  border:solid 1px black;
  min-height: 300px;
}
